<% content_for :title do  %>
    <h1 class="ui header">
        New Job Seeker at <%= current_institution.name %>
        <div class="sub header">
            Register a new job seeker
        </div>
    </h1>
<% end %>

<div class="ui container segment fluid">
    <%= form_for @seeker, url: institution_seekers_path, html: {class: 'ui large form'} do |f| %>
        <%= render 'fields', f: f %>
    <% end %>
</div>
